Automated Gmail Invoice Attachment Retrieval and Organization.json
{
  "name": "Automated Gmail Invoice Attachment Retrieval and Organization",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "246f23ec-3b72-43d7-99df-76ddc3a0530c",
      "name": "Daily Email Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD"
          ],
          "q": "has:attachment"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "f6b05088-1836-4da0-b237-9a36e34756d6",
      "name": "Get Emails with Attachments",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        400
      ],
      "webhookId": "29f74dff-54b9-40ea-b49e-f6ad3c5986b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "qHQjxR2DFF5qcV3f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "options": {}
      },
      "id": "e25c7d29-797c-425d-9a07-18b8918060b1",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "receiptDate",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "filePath",
              "value": "=/downloads/{{ $now.format('yyyy-MM-dd') }}/{{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "41156b81-824c-412f-8221-b81eedbee57a",
      "name": "Prepare File Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        400
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "cbc09a54-ff68-429a-9e17-a3671606c2a3",
      "name": "Write Files to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        400
      ]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get Emails with Attachments').item.json.id }}"
      },
      "id": "bd51e914-3d80-4477-806d-144c0eddddde",
      "name": "Mark Emails as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        304
      ],
      "webhookId": "cfa84520-adae-4996-b81b-7bb23fb78565",
      "credentials": {
        "gmailOAuth2": {
          "id": "qHQjxR2DFF5qcV3f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3996793e-3195-433d-a883-2ab77c888fe1",
      "name": "Collect All Files",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1376,
        496
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "fileName"
            }
          ]
        },
        "options": {
          "outputFormat": "singleItem"
        }
      },
      "id": "35946bb8-a8fb-4737-b3fc-b35a3061f0dc",
      "name": "Count Downloaded Files",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1600,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Email Check": {
      "main": [
        [
          {
            "node": "Get Emails with Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails with Attachments": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Prepare File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Metadata": {
      "main": [
        [
          {
            "node": "Write Files to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files to Disk": {
      "main": [
        [
          {
            "node": "Mark Emails as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Files": {
      "main": [
        [
          {
            "node": "Count Downloaded Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba779806-e57a-4a4c-8507-fbb9369c41a9",
  "meta": {
    "instanceId": "da800748c38a4f78f29ee5d711ab869cfd6027790a2a2536d4915fddf0315575"
  },
  "id": "1PHVlObmSCkhIIHP",
  "tags": []
}